* {
    transition: all 0.15s ease-in-out;
}

body {
    background: #444;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    background: #333;
}

.card:hover {
    translate: -3px -3px;
    rotate: -1deg;
    box-shadow: 9px 9px 70px #252525;
    cursor: pointer;
    background: #393939;
}

.card h2 {
    font-size: 32px;
    font-family: sans-serif;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 10px;
    color: #aaa;
}

.card:hover h2 {
    color: #eee;
    text-shadow: 0 0 10px #888;
}

.card h2::before {
    content: "";
    position: absolute;
    top: 40%;
    bottom: 40%;
    width: 10px;
    left: 0px;
    border-radius: 10px;
    background: #116699;
    max-height: 16px;
    transition: all 0.15s ease-in-out;
    min-height: 16px;
}

.card:hover h2::before {
    top: 0;
    bottom: 0;
    background: #2277bb;
    max-height: initial;
}

.card img {
    border-radius: 16px;
    margin-top: 20px;
    max-width: 300px;
    max-height: 300px;
}

tag {
    background: #222;
    border: 3px solid #777;
    color: #ddd;
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 600;
    font-family: sans-serif;
    size: 8px;
}