.card {
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    background: #333;
    transition: all .15s ease-in-out;
}

.card:hover {
    translate: -3px -3px;
    rotate: -1deg;
    box-shadow: 3px 3px black;
}

.card h2 {
    font-size: 32px;
    font-family: sans-serif;
}

.card img {
    border-radius: 16px;
}